<h1>Hello from {{title}}</h1>
<p>{{name}}</p>

{{#if allPhones.length}}
  {{#each allPhones}}
    <div class="row products">
      <div class="col s4 offset-3" style="margin-left: 0;">
        <div class="card">
          <div class="card-image">
            <img src="{{img}}" alt="jpg" />
            <span class="card-title">{{name}}</span>
          </div>
          <div class="card-content">
            <p class="price">{{price}}</p>
          </div>
          <div class="card-action">
            <a href="/add/{{id}}">View phone</a>
            <a href="/add/{{id}}/edit">Edit</a>
            <form action="/card/add" method="POST">
              <input type="hidden" value="{{id}}" name="id" />
              <button class="btn btn-primary">Buy</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>here is empty</p>
{{/if}}